<h1>Nations</h1>
<% if @nations %>
	<ul class="list-group">
		<% @nations.each do |nation| %>
		  <a href="<%= user_nation_path(@user, nation)%>" class="list-group-item">
		    <span class="badge" style="vertical-align: center"><%= nation.webhooks_count %></span>
		    <p class="center no-margin"><strong><%= nation.nation_slug %></strong></p>
		  </a>
		<% end %>
	</ul>
	<div class="btn-group btn-group-justified" role="group">
		<%= link_to "Add another nation", new_user_nation_path(@user), class: "btn btn-primary" %>
	</div>
<% else %>
	<p>No current nations</p>
	<div class="btn-group btn-group-justified" role="group">
		<%= link_to "Create a nation", new_user_nation_path(@user), class: "btn btn-primary" %>
	</div>
<% end %>
