<div id="nation-<%= nation.id %>" class="panel panel-default <%= unitialized_api_style(nation) %>">
		    <div class="panel-body">
		    	<strong class="text-left col-md-4"><%= nation.nation_slug %>   
					<%= link_to edit_user_nation_path(@user, nation), id: "edit#{nation.id}", remote: true do %><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color: #00FF00;" id="edit-<%= nation.id %>"></span><% end %>
		    		<%= link_to user_nation_path(@user, nation), id: "delete#{nation.id}", remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
		    			<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;"></span>
		    		<% end %>
		    	</strong>
		    	<span class="pull-right" style="text-align: right; margin-right: 5px;">
		    		<div class="btn-group">
  						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Webhooks <span class="badge" style="vertical-align: center"><%= nation.webhooks.active.count %></span> <span class="caret"></span>
  						</button>
						  <ul class="dropdown-menu">
						    <% if nation.webhooks.any? %>
						    	<% nation.webhooks.active.each do |webhook| %>
							    <li><a href="#"><%= webhook.normalized_event %></a></li>
							    <% end %>
							    <li role="separator" class="divider"></li>
							<% end %>
									<li>
										<%= link_to new_user_nation_webhook_path(@user, nation), id: "nation-new-webhook-#{nation.id}", remote: true do %> Create webhook <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><% end %> 
									</li>
						  </ul>
						</div>
		    	</span>
		    	<div class="col-md-4">
		    		<%= unitialized_api_message(nation)%>
		    	</div>
		    </div>
		     	<div class="panel-footer" id="nation-edit-form-<%= nation.id %>" style="display:none;">
		     		<h3 class="center no-margin">Edit</h3>
		     		<div class="embedded-nation-form" id="embedded-nation-form-<%= nation.id %>">
		     		</div>
		     	</div>

		     	<div class="panel-footer" id="webhook-create-<%= nation.id %>" style="display:none;">
		     		<h3 class="center no-margin">Create a webhook</h3>
		     		<div class="embedded-nation-form" id="webhook-create-form-<%= nation.id %>">
		     		</div>
		     	</div>
</div>
